<%= form_with(model: parqueo, local: true) do |form| %>
  <% if parqueo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parqueo.errors.count, "error") %> prohibited this parqueo from being saved:</h2>

      <ul>
      <% parqueo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :estado %>
    <%= form.check_box :estado, id: :parqueo_estado %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :parqueo_tipo %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha, id: :parqueo_fecha %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
