<p id="notice"><%= notice %></p>

<h1>Parqueos</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parqueos.each do |parqueo| %>
      <tr>
        <td><%= parqueo.estado %></td>
        <td><%= parqueo.tipo %></td>
        <td><%= link_to 'Show', parqueo %></td>
        <td><%= link_to 'Edit', edit_parqueo_path(parqueo) %></td>
        <td><%= link_to 'Destroy', parqueo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parqueo', new_parqueo_path %>
