<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @parqueo.estado %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @parqueo.tipo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @parqueo.fecha %>
</p>

<%= link_to 'Edit', edit_parqueo_path(@parqueo) %> |
<%= link_to 'Back', parqueos_path %>
